---
import type { ImageWithoutDetails } from "../models/Image";
import { Image } from "astro:assets";
import { processPhotographyImage } from "./processPhotographyImage";

type Props = {
  image: ImageWithoutDetails;
  dir: string;
};

const { image, dir } = Astro.props;
const { url, scrollX, marginY, width, height, imgtitle, imgalt, eager } =
  await processPhotographyImage(image, dir);
---

<a
  href={url}
  style={{
    ...(marginY ? { margin: `0 ${marginY}` } : undefined),
  }}
  class={scrollX ? "scrollX" : undefined}
>
  <Image
    src={url}
    width={width}
    height={height}
    title={imgtitle === "alt" ? imgalt : imgtitle}
    alt={imgalt}
    loading={eager ? "eager" : undefined}
    quality="max"
  />
</a>

<style>
  a {
    align-self: center;
    border: 0;
  }

  .scrollX {
    overflow-x: auto;
    max-width: 100%;
  }

  .scrollX img {
    max-width: none;
  }
</style>
