---
import type { PostProps } from "../models/Post";
import Default from "./Default.astro";
import { dateString } from "../date";

interface Props extends PostProps {}

const {
  current: { date, tags },
  previous,
  next,
  ...props
} = Astro.props;
---

<Default {...props}>
  <slot name="head">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />
  </slot>
  <article class="post type-post hentry">
    <section class="entry-header">
      <h1 class="entry-title">{props.title}</h1>
      <div class="entry-info">
        Posted on {dateString(date)}
      </div>
      {
        tags && (
          <div class="entry-info">
            Tags:{" "}
            {tags.map((tag) => (
              <a href={`/tags/${tag}.html`}>{tag}</a>
            ))}
          </div>
        )
      }
    </section>
    <section class="entry-content"><slot /></section>
  </article>
  <nav class="navigation post-navigation">
    <h2 class="screen-reader-text">Post navigation</h2>
    <div class="nav-links">
      <div class="nav-next">
        {
          next ? (
            <a href={next.url} rel="next">
              <span class="meta-nav" aria-hidden="true">
                Next - {dateString(next.date)}
              </span>
              <span class="screen-reader-text">Next post:</span>
              <span class="post-title">{next.title}</span>
            </a>
          ) : (
            <a rel="next">
              <span class="meta-nav" aria-hidden="true">
                Next
              </span>
              <span class="post-title-end">No Next Post</span>
            </a>
          )
        }
      </div>
      <div class="nav-previous">
        {
          previous ? (
            <a href={previous.url} rel="prev">
              <span class="meta-nav" aria-hidden="true">
                Previous - {dateString(previous.date)}
              </span>
              <span class="screen-reader-text">Previous post:</span>
              <span class="post-title">{previous.title}</span>
            </a>
          ) : (
            <a rel="prev">
              <span class="meta-nav" aria-hidden="true">
                Previous
              </span>
              <span class="post-title-end">No Previous Post</span>
            </a>
          )
        }
      </div>
    </div>
  </nav>
</Default>
